*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
}

.main_container {
	display: flex;
	flex-direction: column;
}
.logo {
	margin-top: 18px;
	display: flex;
	justify-content: center;
}

.hero {
	margin: 22px auto;
}

.heading {
	font-family: 'AdiHaus';
	font-style: normal;
	font-size: 3rem;
	text-align: center;
	margin-top: 8px;
	letter-spacing: 5px;
	color: #423a3a;
}

.heading_style {
	-webkit-text-stroke: 1.5px black;
	-webkit-text-fill-color: #cd3a24;
}

.body_text {
	font-family: AdiHaus;
	font-style: normal;
	font-weight: normal;
	font-size: 0.875rem;
	line-height: 1.75em;
	width: 311px;
	text-align: center;
	margin: 0 32px;
	color: #333333;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input {
	margin: 20px 0 0 65px;
	width: 311px;
	font-family: AdiHaus;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	color: #828282;
	mix-blend-mode: normal;
	opacity: 0.5;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 3px;
}
